.myBody{
    background-color:#BDC3C7;

}
#passwordContainer{
    width: 400px;
    text-align:center;
    position: relative;
    top: 40px;
    margin: 10px auto;
}
#errorContainer{
text-align:left
}